<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Strength Stack Shop</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded " >
        <a class="nav-link my-text-color active h5"
           th:href="${#authorization.expression('isAuthenticated()')} ? '/home' : '/'">
            <img th:src="@{/images/logo.jpg}" alt="Strength Stack Shop" class="logo-img-style">
        </a>
        <a class="nav-link my-text-color active h5  "
           sec:authorize="isAuthenticated()" th:href="@{/offers}">Go to offers</a>
        <a class="nav-link my-text-color active h5  "
           sec:authorize="hasRole('ADMIN')" th:href="@{/product-add}">Add product</a>
        <a class="nav-link my-text-color active h5  "
           sec:authorize="hasRole('ADMIN')" th:href="@{/admin-panel}">Admin panel</a>
        <a class="nav-link my-text-color active h5  " th:href="@{/contacts}" >Contact with us</a>
        <a class="nav-link my-text-color active h5  " th:href="@{/login-statistic}" >Login statistic</a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">

            <a class="nav-link active h5 my-text-color"
               sec:authorize="!isAuthenticated()" th:href="@{user/login}">Login</a>

            <a class="nav-link active h5 my-text-color"
               sec:authorize="!isAuthenticated()" th:href="@{user/register}">Register</a>

            <a class="nav-link h5 my-text-color" sec:authorize="isAuthenticated()">Welcome,
                <th:block sec:authentication="name"></th:block></a>

            <form th:method="POST"
                  th:action="@{/user/logout}" sec:authorize="isAuthenticated()">

                <input type="submit" class="nav-link active h5 logout-btn my-text-color" value="Logout" />
            </form>

        </div>
    </nav>
</header>
<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container-fluid text-center">
        <div class="footer-background h5 my-text-color">
            &copy; Strength Stack Shop.
        </div>
    </div>
</footer>
</body>
</html>