<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

  <section>
    <div class="container btn-remove-product">
      <h1 style="text-align: center;">An unexpected error occurred</h1>
      <img th:src="@{/images/Error-pic.jpeg}"  class="error-img-style" alt="Error Picture">
    </div>
  </section>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>