<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <title>Admin Panel</title>
</head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="container bg-blur rounded mt-3 mb-4">
        <h1 class="my-text-color">Admin Panel</h1>

        <div th:each="user : ${allUsers}" class="d-flex flex-column align-items-center my-3">
            <p th:text="${user.getUsername()}"></p>

            <div class="d-flex justify-content-center">
                <form th:action="@{/remove-user}" th:method="POST" class="button-spacing"> <!-- Added spacing between buttons -->
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <input type="hidden" name="userId" th:value="${user.getId()}" />
                    <button type="submit" class="btn btn-danger">Remove user</button>
                </form>

                <form th:action="@{/change-role-to-admin}" th:method="POST" class="button-spacing"> <!-- Added spacing between buttons -->
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <input type="hidden" name="userId" th:value="${user.getId()}" />
                    <button type="submit" class="btn btn-warning">Change to admin</button>
                </form>

                <form th:action="@{/change-role-to-user}" th:method="POST">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <input type="hidden" name="userId" th:value="${user.getId()}" />
                    <button type="submit" class="btn btn-info">Change to user</button>
                </form>
            </div>
        </div>

    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>