<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <title>Admin Panel</title>
</head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="container bg-blur rounded mt-3 mb-4">
        <h1>Admin Panel</h1>

        <div th:each="user : ${allUsers}">
            <br>
            <p th:text="${user.getUsername()}"></p>
            <form th:action="@{/remove-user}" th:method="POST" class="btn-remove-product">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <input type="hidden" name="userId" th:value="${user.getId()}" />
                <button type="submit" class="btn btn-danger">Remove user</button>
            </form>

            <form th:action="@{/change-role-to-admin}" th:method="POST" class="btn-remove-product">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <input type="hidden" name="userId" th:value="${user.getId()}" />
                <button type="submit" class="btn btn-danger">Change user to admin</button>
            </form>

            <form th:action="@{/change-role-to-user}" th:method="POST" class="btn-remove-product">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <input type="hidden" name="userId" th:value="${user.getId()}" />
                <button type="submit" class="btn btn-danger">Change admin to user</button>
            </form>

        </div>

    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>