<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="container bg-blur rounded mt-3 mb-4">
        <h1>Contact with us</h1>
        <p>Address: <br>Plovdiv, Stara Planina 22</p>
        <p>Phone: <br>+359878785010</p>
        <p>E-mail: <br>strength.stack.shop@gmail.com</p>

    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>