<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <title>Home page</title>
</head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="container bg-blur rounded mt-3 mb-4">
        <h1 class="orders-history-text">Orders history</h1>

        <div class="row">
            <div th:each="order : ${currentUserOrders}" class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body my-cards-background orders-history-text">
                        <h5 class="card-title">Order Date: <span th:text="${order.getOrderDate()}"></span></h5>
                        <p class="card-text">Total Price: <span th:text="${order.getTotalPrice()}"></span></p>
                        <p class="card-text">Total Products: <span th:text="${order.getProducts().size()}"></span></p>

                        <form th:action="@{/order-details}" th:method="GET">
                            <input type="hidden" name="orderId" th:value="${order.getId()}" />
                            <button type="submit" class="btn btn-primary">Order Details</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>

