<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="row">
        <div class="col-md-6">
            <h1>Product details</h1>
            <p th:text="${currentProduct.getCreatedAt()}"></p>
            <div th:each="comment : ${currentProduct.getComments()}">
                <p th:text="${comment.description}"></p>
            </div>

            <form id="commentForm" th:method="POST"
                  th:action="@{/comment-create}" th:object="${commentCreateBindingModel}">
                <input type="hidden" name="productId" th:value="${currentProduct.getId()}">
                <div class="form-group">
                    <h4>Leave a comment</h4>
                    <label for="message">Message</label>
                    <textarea th:field="*{description}"
                              th:errorclass="bg-danger"
                              id="message"
                              cols="30"
                              rows="5"
                              class="form-control"
                              style="background-color: white;"></textarea>
                    <small th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}" class="text-danger">Description error message</small>
                </div>

                <div class="form-group">
                    <input type="submit"
                           class="btn"
                           id="postComment"
                           value="Post Comment"/>
                </div>
            </form>

        </div>
    </div>

</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>