<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <title>Buy product</title>
</head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="container">
        <div class="row justify-content-center">
            <div th:each="product : ${currentOrderProducts}" class="col-md-4">
                <div class="card product-card">
                    <div class="card-body">
                        <img th:src="${product.getPictureUrl()}" class="card-img-top img-fluid card-img-custom" alt="Product">
                        <p class="product-info" th:text="${product.getDescription()}"></p>
                        <p class="product-info" th:text="${product.getBrand()}"></p>
                        <p class="product-info">
                            Price:&nbsp; <span th:text="${product.getPrice()}"></span>&nbsp;bgn
                        </p>

                        <form th:action="@{/removeProduct}" th:method="POST" class="btn-remove-product">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                            <input type="hidden" name="productId" th:value="${product.getId()}" />
                            <button type="submit" class="btn btn-danger">Remove product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Order details -->
        <div class="order-info">
            <div class="row">
                <div class="col-12">
                    <p>Date of order:  <span th:text="${currentOrder.getOrderDate()}"></span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Total price:  <span th:text="${currentOrder.getTotalPrice()}"></span> bgn</p>
                </div>
            </div>
            <form th:action="@{/finishOrder}" th:method="POST">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <input type="hidden" name="orderId" th:value="${currentOrder.getId()}" />
                <button type="submit" class="btn btn-success">Finish Order</button>
            </form>
        </div>
    </div>



</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>